* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --light-brown: #d5966c;
  --black: #151515;
  --gray: #444444;
  --white: #ffffff;

  /* Typography */
  --big-shoulders: "Big Shoulders", sans-serif;
  --outfit: "Outfit", sans-serif;

  /* Font sizes */
  --heading-xl: 9.6rem;
  --heading-lg: 7rem;
  --heading-md: 2rem;
  --heading-sm: 1.6rem;

  --text-body-md: 2.2rem;
  --text-body-sm: 1.4rem;

  /* Line height */
  --leading-xl: 4.8rem;
  --leading-lg: 3rem;
  --leading-md: 2rem;
  --leading-sm: 1.6rem;

  --leading-body-md: 3.2rem;
  --leading-body-sm: 1.8rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--outfit);
  overflow-x: hidden;
  color: var(--gray);
}

/* GLOBAL STYLES */
a {
  display: inline-block;
}

h2 {
  font-family: var(--big-shoulders);
}

.container {
  width: 100%;
}
/* HERO */
header {
  position: relative;
}
.dark__bg__header {
  display: none;
}
.hero__text {
  display: flex;
  flex-direction: column;
}
.hero__img {
  height: 40vh;
  background: url("assets/mobile/image-hero@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  padding: 3.2rem 1.6rem;
}

.hero__title h1 {
  font-family: var(--big-shoulders);
  font-size: 6rem;
  line-height: 5.5rem;
  font-weight: 900;
}

.hero__desc {
  padding: 3.2rem 1.6rem;
  padding-top: 0;
}

.hero__desc p {
  font-size: 1.8rem;
  color: var(--gray);
  line-height: 2.2rem;
  font-weight: 400;
  font-family: var(--outfit);
}

.hero__action {
  padding: 3.2rem 1.6rem;
  padding-top: 0rem;
}

section {
  padding: 12rem 1.6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.big__grid div:nth-child(1) {
  margin-bottom: 1.6rem;
}
.big__grid div:nth-child(2) {
  margin-bottom: 1.6rem;
}

.big__grid div:nth-child(3) {
  background-color: var(--black);
  color: var(--white);
  padding: 2.4rem;
}

.big__grid div:nth-child(3) p {
  color: var(--white);
}

.grid h2 {
  font-size: 5rem;
  font-family: var(--big-shoulders);
  text-transform: uppercase;
  margin-top: 2.5rem;
  line-height: 4.5rem;
  letter-spacing: -2px;
  margin-bottom: 2.4rem;
}

.grid p {
  font-size: 1.8rem;
  color: var(--gray);
  line-height: 2.8rem;
  font-weight: 300;
}

.grid__text {
  margin-bottom: 3.2rem;
}

.flex {
  display: block;
}

/* LOCATION */
.location__header {
  position: relative;
  background: url("assets/mobile/image-map.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.btn__group {
  display: flex;
  font-family: var(--big-shoulders);
  color: var(--white);
  font-size: 2rem;
  width: max-content;
  background-color: var(--black);
}

.btn__group span {
  display: inline-block;
  padding: 24px;
}

.btn__group div {
  padding: 24px;
}

.loaction__details {
  background-color: var(--black);
  padding: 4.8rem 1.6rem;
}

.loaction__details h2 {
  font-family: var(--big-shoulders);
  color: var(--white);
  font-size: 5rem;
  margin-bottom: 4.8rem;
}

.loaction__details h3 {
  font-size: 3.2rem;
  color: var(--light-brown);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
}

.loaction__details p {
  font-size: 1.8rem;
  color: var(--white);
  line-height: 2.8rem;
}

.loaction__details address {
  margin-bottom: 2rem;
  font-style: normal;
}

.big__grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Footer */
.location__footer {
  padding: 4.8rem 1.6rem;
  background-color: var(--light-brown);
}

footer div:first-child > img {
  height: 4rem;
  margin-bottom: 3.8rem;
}
footer p {
  line-height: 2.6rem;
  font-size: 1.6rem;
  color: var(--black);
  margin-bottom: 3.8rem;
}
.social__icons {
  display: flex;
  gap: 2rem;
}
.social__icons img {
  width: 2rem;
  height: 2rem;
}

.home__footer {
  background: var(--black);
  color: var(--white);
  padding: 4.8rem 3.2rem;
}
.home__footer p {
  color: var(--white);
}
/* MEDIA QUERIES */
@media screen and (min-width: 44em) {
  header {
    height: 90vh;
  }
  /* HERO */
  .hero__img {
    width: 60%;
    background: url("assets/tablet/image-hero@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  .hero__text {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    min-width: 40rem;
  }

  .hero__title h1 {
    font-size: 7rem;
    margin-bottom: 4.8rem;
    line-height: 6.5rem;
  }

  .hero__desc p {
    line-height: 2.8rem;
    margin-bottom: 4.8rem;
  }

  .grid {
    margin: 0 auto;
    max-width: 90rem;
  }

  .flex div:first-child img {
    width: 100%;
  }

  .flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: center;
    margin-bottom: 2rem;
  }

  .flex div:first-child {
    grid-column: 2 / -1;
  }

  .flex div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .flex .grid__text h2 {
    margin-bottom: 2.4rem;
  }

  .big__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.1rem;
  }

  .big__grid div:nth-child(1) {
    margin-bottom: 0;
  }

  .big__grid div:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .location__header-container {
    padding: 0rem 4rem;
    margin: 0 auto;
  }
  .loaction__details .location__details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 70rem;
    padding: 8.8rem 4rem;
  }

  .loaction__details div:first-child h2 {
    max-width: 25rem;
    font-size: 5.5rem;
  }

  .loaction__details div:nth-child(2) p {
    max-width: 40rem;
  }

  .location__header {
    background: url("assets/tablet/image-map@2x.png");
  }

  .location__footer .location__footer-container {
    margin: 0 auto;
    padding: 5.6rem 3.9rem;
    display: flex;
    justify-content: space-between;
  }

  .location__footer div:nth-child(2) {
    max-width: 40rem;
  }

  .home__footer .location__footer-container {
    display: flex;
    justify-content: space-between;
  }

  .home__footer .location__footer-container {
    max-width: 70rem;
    margin: 0 auto;
  }

  .home__footer .location__footer-container div:nth-child(2) p {
    max-width: 30rem;
  }
}

@media screen and (min-width: 60em) {
  header {
    height: 100vh;
    position: relative;
  }
  .location__header-container {
    max-width: 111rem;
    padding: 0;
  }
  .location__header {
    background: url("assets/desktop/image-map.png");
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
  }

  .loaction__details .location__details-container {
    max-width: 111rem;
    padding: 17rem 10rem;
  }

  .loaction__details div:first-child h2 {
    font-size: 7rem;
  }

  .loaction__details div:nth-child(2) h3 {
    font-size: 3.6rem;
  }

  .loaction__details p {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }

  .location__footer {
    font-size: 1.8rem;
    padding: 8rem 17rem;
  }

  .location__footer div:first-child > img {
    height: 6rem;
  }

  .location__footer .location__footer-container {
    max-width: 111rem;
  }

  /* GRID */
  .grid {
    max-width: 111rem;
  }
  .home__footer .location__footer-container {
    max-width: 111rem;
    margin: 0 auto;
  }

  .dark__bg__header {
    display: block;
    background-color: var(--black);
    width: 40%;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
  }

  .hero__text {
    flex-direction: row;
    justify-content: space-between;
    top: 50%;
    left: 85%;
  }
  .title_white {
    color: var(--white);
  }
  .hero__text h1 {
    font-size: 9.6rem;
    line-height: 8.8rem;
    display: none;
  }
  .hero__desc p {
    font-size: 2.2rem;
    line-height: 3.2rem;
    font-weight: 300;
  }
  .hero__text h1 span {
    white-space: nowrap;
  }
  .hero__desc {
    max-width: 40rem;
  }
  .hero__img {
    left: 40%;
    width: 40%;
    z-index: -2;
  }
  .dark__bg__header .hero__title {
    position: absolute;
    top: 30%;
  }
  .dark__bg__header .hero__title h1 {
    font-size: 9.6rem;
    line-height: 8.8rem;
    color: var(--white);
  }
  .dark__bg__header .hero__title span {
    white-space: nowrap;
  }

  .dark__bg__header h1 {
    font-size: 9.6rem;
    font-family: var(--big-shoulders);
    line-height: 8.8rem;
    position: absolute;
    left: 63%;
    top: 40%;
    transform: translateY(-50%);
    color: var(--white);
  }
  .dark__bg__header h1 span {
    white-space: nowrap;
  }

  .title__header {
    font-size: 9.6rem;
    font-family: var(--big-shoulders);
    line-height: 8.8rem;
    position: absolute;
    left: 25%;
    top: 40%;
    transform: translateY(-50%);
    z-index: -1;
    color: var(--black);
  }
  .title__header span {
    white-space: nowrap;
  }
}
